<div class="about_container">
<div class="about_card left">
  <img src="">
  <span class="bio">Livien Yin {</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
  }
</div>

<div class="about_card right">
  <img src="">
  <span class="bio">Jeff Kao {</span>
  <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue.</p>
  }
</div>

<div class="about_card left">
  <img src="">
  <span class="bio">Michelle Lowe {</span>
  <p></p>
  }
</div>

<div class="about_card right">
  <img src="">
  <span class="bio">Eu-wen Ding {</span>
  <p></p>
  }
</div>

<div class="about_card left">
  <img src="">
  <span class="bio">Woo Jin Park {</span>
  <p></p>
  }
</div>
</div>