$light-grey: #f1f0ee;
$dark-grey: #272623;
$main-font: Vollkorn;

ul, ol {
	list-style: none;
}

body {
	background-color: $light-grey;
	margin: 0;
	font-family: $main-font;
}

#header {
	height: 110px;
	width: 100%;
	background-color: $dark-grey;
	margin-bottom: 20px;
	color: white;
	box-shadow: 0 1px 1px 1px #d7d7d7;
}

#nav-bar {
	width: 30%;
	line-height: 2;
	float: right;
	margin-right: 10%;
	li {
		display: block;
		float: right;
		text-align: center;
		width: 20%;
	}
}
