$light_grey: #f1f0ee;
$dark_grey: #272623;
$main_font: Vollkorn;

ul, ol {
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  background-color: none;
}

body {
  background-color: $light_grey;
  margin: 0;
  font-family: $main-font;
}

* {
  box-sizing: border-box;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

.card {
  background-color: white;
  height: 350px;
  overflow: auto;
  margin-bottom: 40px;
  padding: 20px;
}

#whats-hot{
  width: 10%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  line-height: .5;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}