
$light_grey: #f1f0ee;
$dark_grey: #272623;
$main_font: Vollkorn;
$pink: #f36c61;
$blue: #1352A2;

ul, ol {
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  background-color: none;
  cursor: pointer;
}

body {
  background-color: $light_grey;
  margin: 0;
  font-family: $main-font;
}

.content_margin {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 100px;
}

* {
  box-sizing: border-box;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.rule {
  width: 100%;
  border-bottom: 1px dotted #524D5D;
  margin-top: 20px;
  margin-bottom: 25px;
}

.card {
  background-color: white;
  height: 280px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 1px 1px 1px #d7d7d7;
  iframe {
    margin: auto;
    width: 100%;
    height: 260px;
    border-style: none;
  }
  img {
    margin-left: 10px;
  }
}

.card_container {
  overflow: hidden;
  margin: 10px 10px 40px 10px;
}

.user_cards {
  overflow: hidden;
  margin: 10px 0px 30px 20px;
}

.card_description {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 260px;
  position: absolute;
  top: 10px;
  left: 10px;
  a, a:visited{
    color: $dark_grey;
  }
  a:hover {
    text-decoration: underline;
  }
}

.card_title a, a:visited {
  font-size: 50px;
}

.code_container {
  textarea {
    width: 49%;
  }
}

.card_header {
  margin-top: 10px;
  a, a:visited {
    color: grey;
  }
  a:hover {
    font-style: italic;
    color: $pink;
  }
  span {
    color: $pink;
    float: right;
    img {
      margin-left: 10px;
    }
  }
}

.profile_container {
  margin-top: 10px;
  padding: 20px;
}

.username {
  font-style: italic;
}

#edit_profile_btn {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  width: 220px;
  background-color: $blue;
  box-shadow: 0 1px 1px 1px #d7d7d7;
  a, a:visited {
    color: white;
  }
  a:hover {
    color: $light_grey;
  }
}

.about_card {
  margin-bottom: 20px;
  background-color: white;
  height: 275px;
  width: 470px;
  box-shadow: 0 1px 1px 1px #d7d7d7;
}

.bio {
  color: $dark_grey;
  float: right;
  width: 60%;
  margin: 0;
  p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    line-height: 1;
  }
}

.bio_image {
  position: relative;
  top: 125px;
  left: 0px;
}

.feature_icon {
  width: 100px;
  margin: auto;
  text-align: center;
  line-height: 1;
}

#content_container {
  margin-top: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

.hidden {
  display: none;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $pink;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: disc;
  }
}